    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href ="firstpage_1.CSS">
       
    </head>
    <body>
      <nav class="navbar">
        <div class="logo">SKILLS</div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Login/Register</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <section class="showcase">
      <header>
        <h2 class="logo">SKILLS</h2>
        
      </header>
      <video
        src="https://media.istockphoto.com/id/1499483655/video/evtol-commutes-above-the-city.mp4?s=mp4-640x640-is&k=20&c=D2exYSd-waIpTVTICQq8-CcPm_bjrGVByGQznx21jHg="
        muted
        loop
        autoplay
      ></video>
<!-- Sample Video provided by DesignSupply https://codepen.io/designsupply/pen/zmEWBm -->
      <!-- Download Video Source and host the file on your own server -->
      <!-- For example: https://www.pexels.com/video/aerial-view-of-beautiful-resort-2169880/ -->
      <div class="overlay"></div>
      <div class="text">
        <h3>Empower Your Potential</h3>
        <h3>Mastering Tomorrow's Tech Today</h3>
        <p>
          Technical skills are like superpowers for solving digital challenges. 
          They help turn ideas into real solutions, making the tech world better and more exciting.
        </p>
        <a href="#">Explore</a>
      </div>
      <ul class="social">
        <li>
          <a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png" /></a>
        </li>
        <li>
          <a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png" /></a>
        </li>
        <li>
          <a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png" /></a>
        </li>
      </ul>

      <p class="footer-copyright">&copy; 2024 Your Website Name. All rights reserved.</p>
   </section>

   
  
  
   
  <script  src = "firstpage_1.js" ></script>  
</body>
</html>
    
    
